@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.Strings
@using Umbraco.Extensions
@using WysiwgUmbracoCommunityExtensions.Services
@using WysiwgUmbracoCommunityExtensions.ViewModels
@model BlockGridItem
@{
    var content = new Wysiwg65_pictureWithCrop(Model.Content);
    if (content?.MediaItem == null) return;

    var src = content.MediaItem.GetCropUrl(width: 400, cropAlias: content.CropAlias);
}
<figure>
    <div>
        <img id="@content.MediaItem.Id" src="@src" alt="@content.AlternativeText" />
    </div>

    @if (!string.IsNullOrEmpty(content.FigCaption))
    {
        string color = WysiwygPublishedContentService.GetColor(content.CaptionColor) ?? string.Empty;

        if (!string.IsNullOrEmpty(color))
        {
            <figcaption style="color: @color;">
                @content.FigCaption
            </figcaption>
        }
        else
        {
            <figcaption>
                @content.FigCaption
            </figcaption>
        }
    }
</figure>
