@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Cache
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Cms.Core.Services
@using Umbraco.Cms.Core.Web
@using Umbraco.Extensions
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@inject IPublishedUrlProvider PublishedUrlProvider
@inject IVariationContextAccessor VariationContextAccessor
@inject IUmbracoContextAccessor UmbracoContextAccessor
@inject IDomainService domainService
@{
    var root = Model.Root();
    var domainCultures = domainService.GetAssignedDomainsAsync(root.Key, false).Result
        .Select(d => d.LanguageIsoCode).ToArray();

    var currentUrl = Model.Url();
    var otherUrls = new List<UrlInfo>();
    var currentCulture = System.Threading.Thread.CurrentThread.CurrentCulture;
    var currentCultureName = currentCulture.Name;
    var newUrlInfo = new UrlInfo(currentUrl, true, currentCultureName);
    if (!otherUrls.Contains(newUrlInfo))
    {
        otherUrls.Add(newUrlInfo);
    }
    foreach (var cultureName in domainCultures.Where(l => l != currentCultureName))
    {
        VariationContextAccessor.VariationContext = new VariationContext(cultureName);
        newUrlInfo = new UrlInfo(Model.Url(), true, cultureName);
        if (!otherUrls.Contains(newUrlInfo))
        {
            otherUrls.Add(newUrlInfo);
        }
    }
    var orderedLanguageUrls = otherUrls.OrderBy(u => u.Culture);

    var umbUContext = Context.Request.Cookies["UMB_UCONTEXT"];
    var hasUser = !string.IsNullOrEmpty(umbUContext);
    @if (WysiwgUmbracoCommunityExtensions.TestSite.Constants.Debug)// && hasUser)
    {
        var key = Model?.Key.ToString();
        var backofficeHref = key == null
            ? "/umbraco/section/content"
            : $"/umbraco/section/content/workspace/document/edit/{key}/{currentCultureName}/tab/content";

        <text>
            <a href="@backofficeHref" target="_blank">backoffice</a> | <a href="/umbraco/swagger/index.html?urls.primaryName=wysiwgUmbraco+Community+Extensions+Backoffice+API" target="_blank">swagger </a>
        </text>
    }
}
<nav>
    @if (orderedLanguageUrls.Count() > 1)
    {
        var count = 0;
        foreach (var url in orderedLanguageUrls)
        {
            if (url.Text == "#")
            {
                continue;
            }
            var divider = count > 0 ? " | " : "";
            var label = url?.Culture?.Substring(0, 2).ToUpper() ?? "";
            if (currentCultureName == url?.Culture)
            {
                <text>@divider</text>

                <a href="@url?.Text"><strong>@label</strong></a>
            }
            else
            {
                <text>@divider</text>

                <a href="@url?.Text">@label</a>
            }
            count++;
        }
    }
</nav>
