@using Umbraco.Extensions
@model BlockGridItem
@{
    var content = Model.Content as PictureWithCrop;
    if (content?.MediaItem == null) return;

    var src = content.MediaItem.GetCropUrl(width: 400, cropAlias: content.CropAlias);
}
<figure>
    <div>
        <img id="@content.MediaItem.Id" src="@src" alt="@content.AlternativeText" />
    </div>

    @if (!string.IsNullOrEmpty(content.FigCaption))
    {
        if (!string.IsNullOrEmpty(content.CaptionColor?.Color))
        {
            <figcaption style="color: @(content.CaptionColor?.Color ?? "#000")">
                @content.FigCaption
            </figcaption>
        }
        else
        {
            <figcaption>
                @content.FigCaption
            </figcaption>
        }
    }
</figure>
